<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/GPTLayout :: layout(~{::title}, ~{::body})}">
<head>
    <meta charset="UTF-8">
    <title>AI GENERATION</title>

</head>
<body>

    <h1>This is the page where you can enter fields in form from the SDS and get the response as the code with getters</h1>

        <form method="POST" name="plainTextAIGenerator" th:object="${GPTObject}">
            <h3>Write your AI request of table from SDS - here example:</h3>
            <img id="exampleIMG" th:src = "@{/images/requestExample.png}" height="250"  >
            <h3>Here you put your table: just copy+paste it from word</h3>
            <textarea th:field="*{requestText}" id="requestText" />
            <button>Submit</button>
        </form>

        <div id ="responseText" th:object="${GPTObject}">
            <textarea id = "chatText" th:text="*{responseText}" disabled>text response</textarea>
            <button onclick="copyText()">Copy Text</button>
        </div>



</body>
</html>