<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/GPTLayout :: layout(~{::title}, ~{::body})}">
<head>
    <meta charset="UTF-8">
    <title>AI GENERATION</title>
     <style>
         h3 {
            background-color:red;
         }
     </style>
</head>
<body>

    <h1>This is the page where you can enter fields in form from the SDS and get the response as the code with getters</h1>
    <h3>Write your AI request of table from SDS - here example:</h3>
    <img id="exampleIMG" th:src = "@{/images/requestExample.png}" height="250"  >
    <h3>Here you populate the fields accordingly</h3>
        <div>
            <form th:action="@{/api/gpt/codeGenerationByForm/addRow}" method="get">
                <button type="submit">Add</button>
            </form>
        </div>
        <form method="POST" name="plainTextAIGenerator" th:object="${GPTObject}">

                <table>
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Description</th>
                        <th>Target in IDIT</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="gptFormLine: ${GPTObject.gptFormLineList}">
                        <td>
                            <input type="text" th:value="${gptFormLine.fieldName}">
                        </td>
                        <td>
                            <input type="text" th:value="${gptFormLine.fieldType}">
                        </td>
                        <td>
                            <input type="text" th:value="${gptFormLine.sourceFromIdit}">
                        </td>
                        <td>
                            <input type="text" th:value="${gptFormLine.tagretInIdit}">
                        </td>
                        <td>

                        </td>
                    </tr>
                    </tbody>
                </table>




            <button>Submit</button>
        </form>

        <div id ="responseText" th:object="${GPTObject}">
            <textarea id = "chatText" th:text="*{responseText}" disabled>text response</textarea>
            <button onclick="copyText()">Copy Text</button>
        </div>



</body>
</html>