<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>GPTForm</title>
    <style>
        /* CSS to make the textarea bigger */
        textarea {
            width: 100%; /* Adjust as needed */
            height: 200px; /* Adjust as needed */
        }
    </style>
</head>
<body>

        <form method="POST" name="gptQueryForm" th:object="${GPTObject}">
            <h3>Write your AI request</h3>
            <textarea th:field="*{requestText}" id="requestText" />
            <button>Submit</button>
        </form>
        <div id ="responseText" th:object="${GPTObject}">
            <p th:text="*{responseText}">text response</p>
        </div>

        <footer> <p>This is the footer</p> </footer>

</body>
</html>