<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/GPTLayout :: layout(~{::title}, ~{::body})}">
<head>
    <meta charset="UTF-8">
    <title>GPTForm</title>
    <style>

    </style>
</head>
<body>


        <form method="POST" name="gptQueryForm" th:object="${GPTObject}">
            <h3>Write your AI request</h3>
            <textarea th:field="*{requestText}" id="requestText" />
            <button>Submit</button>
        </form>
        <div id ="responseText" th:object="${GPTObject}">
            <p th:text="*{responseText}">text response</p>
        </div>



</body>
</html>